{% extends "bootstrap/base.html" %} {% block head %} {{super()}}
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">{% endblock %}{% block body_attribs %} style="font-size:14px; color: #063;" {% endblock %}{% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}"> {% endblock %}{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/static/sans.png" alt="" width="50px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mx-auto mb-2 mb-lg-0">
                <li><a class="nav-link" href="http://127.0.0.1:5000/">Inicio</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dc Comics</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-danger" href="http://127.0.0.1:5000/dccomics/altas">Altas</a></li>
                        <li><a class="dropdown-item text-success" href="http://127.0.0.1:5000/dccomics/consultas">Consultas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sanborns</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-danger" href="http://127.0.0.1:5000/sanborns/altas">Altas</a></li>
                        <li><a class="dropdown-item text-success" href="http://127.0.0.1:5000/sanborns/consultas/principal">Consulta Principal</a></li>
                        <li><a class="dropdown-item text-success" href="http://127.0.0.1:5000/sanborns/consultas/personal">Consulta Personal</a></li>
                        <li><a class="dropdown-item text-success" href="http://127.0.0.1:5000/sanborns/consultas/clientes">Consulta Clientes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ventas</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-danger" href="http://127.0.0.1:5000/sanborns/caja">Caja</a></li>
                        <li><a class="dropdown-item text-success" href="http://127.0.0.1:5000/sanborns/inventario">Inventario</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %} {% block content %}
<center>
    <h1 class="text-danger fw-bold">CONSULTA PRINCIPAL</h1>
</center>
<table class="table table-striped w-75 m-5 mx-auto">
    <tr>
        <th class="text-success">Clave</th>
        <th class="text-success">Nombre</th>
        <th class="text-success">Paterno</th>
        <th class="text-success">Materno</th>
        <th class="text-success">Edad</th>
        <th class="text-success">Fecha Inicio Contrato</th>
        <th class="text-success">Fecha Fin Contrato</th>
        <th class="text-success">Puesto</th>
        <th class="text-success">Credito</th>
        <th class="text-success">Tipo Cliente</th>
    </tr>
    {% for element in list %}
    <tr>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[0] }}</span></p>
        </td>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[1] }}</span></p>
        </td>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[2] }}</span></p>
        </td>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[3] }}</span></p>
        </td>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[4] }}</span></p>
        </td>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[9] }}</span></p>
        </td>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[10] }}</span></p>
        </td>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[11] }}</span></p>
        </td>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[16] }}</span></p>
        </td>
        <td>
            <p class="fw-bold"><span class="text-{{textColor}}">{{ element[17] }}</span></p>
        </td>
    </tr>
    {% endfor %}
</table>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 mt-5 footer-inicial">
    <div class="container text-center">
        <small>Copyright &copy;</small>
    </div>
</footer>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> {% endblock %}